body {
	font-family: Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #EDDCDE;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
	font-size: 20px;
	font-family: Georgia, serif;
}
.logo img {
    max-width: 250px	
}

header h1 {
	margin: 0;
	font-size: 36px;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav li {
	display: inline;
	margin: 0 10px;
}

nav a {
	text-decoration: none;
	color: #333;
}

nav a:hover {
	color: #ff6600;
}



section {
	padding: 20px;
}

section#contact {
	background-color: #f9f9f9;
	margin: 40px;
	padding: 30px;
	line-height: 200%;
	text-align: center;
}

section#contact h2 {
	margin-bottom: 10px;
}

section#contact p {
	margin-bottom: 10px;
}

section#contactform {
	background-color: #f9f9f9;
	margin: 40px;
	padding: 30px;
	line-height: 200%;
}

section#contactform h2 {
	margin-bottom: 10px;
}

.contactform {
	text-align: center;
}

ul {
	padding: 0;
	list-style: none;
}

ul li {
	margin-bottom: 10px;
}

form {
	max-width: 400px;
	margin: 0 auto;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input, form textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: #6B696A;
	color: #fff;
	border: none;
	padding: 15px 20px;
	font-size: 16px;
	cursor: pointer;
	
}

input[type="submit"]:hover {
	background-color: #A29C9D;
}

footer {
	background-color: #A29C9D;
	padding: 50px;	
	display: flex;
	justify-content: space-around;
	align-items: left;
}
